@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/***********Navbar*******/
nav a.nav-link {
  font-weight: 300;
  letter-spacing: 0.0375rem;
}
/**************Uppercase for NAvbar****/
nav ul li {
  text-transform:uppercase;
}
/************Link Color********/
.navbar-nav > li > a {
  color: ghostwhite !important;
  margin-left: 0.75rem;
  margin-left: 0.75rem;
  border-top: 00.1875rem solid rgb(17, 17, 17);
}
/********Resume Color**********/
.navbar-brand {
  color: crimson !important;
  text-transform: uppercase;
  text-shadow: darkgoldenrod !important;
  font-weight: bold;
  max-width: 16.25rem;
  padding: 0 !important;
}
/*******for Navbar border link color********/
.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid orange;
}
/******** for hovering *********/
.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid orange;
}
